# If, elif , else statements 
## (Control flow)
- we often want certain code to execute when a particular condition has been made
<br>(if my dog is hungry, then I will feed the dog)
- control flow syntax makes use of colons and indentation (whitespace)
- the indentation system is crucial to Python and is what sets it apart from other programming languages

In [1]:
# if some_condition:
    # execute some code

In [2]:
# if some_condition:
    # execute some code
# else:
    # do something else

In [3]:
# if some_condition:
    # execute some code
#elif some_other_condition:
    # do something different
# else:
    # do something else

In [4]:
if True:
    print("It's True!")

It's True!

In [5]:
if 3 > 2:
    print("It's True!")

It's True!

In [6]:
hungry = True
if hungry:
    print('Feed Me!')

Feed Me!

In [8]:
hungry = False
if hungry:
    print('Feed Me!')
else:
    print('Later')

Later

In [12]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the Store!')
else:
    print('I do not know much.')

Money is cool!

In [14]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the Store!')
else:
    print('I do not know much.')

Cars are cool!

In [15]:
loc = 'Store'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the Store!')
else:
    print('I do not know much.')

Welcome to the Store!

In [16]:
loc = 'Cinema'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the Store!')
else:
    print('I do not know much.')

I do not know much.

In [17]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print('What is your name?')

Hello Sammy!

In [18]:
name = 'Frankie'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print('What is your name?')

Hello Frankie!

In [19]:
name = 'Dannie'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print('What is your name?')

What is your name?

# For Loops
- many objects in Python are 'iterable', meaning we can iterate over every element in the object.
- such as every element in a list or every character in a string.
- we can use for loops to execute a block of code for every iteration
- The term iterable means you can 'iterate' over the object.
    - for example, you can iterate 
        - over  every character in a string, 
        - over every item in a list, 
        - over every key in a dictionary

In [20]:
# my_iterable = [1,2,3]
# for item_name in my_iterable:
    #print(item_name)

In [21]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [22]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [23]:
# the variable name chosen can be anything you want

In [24]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [25]:
for num in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [ ]:
# print out only the even numbers

In [26]:
for num in mylist:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [28]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [29]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

my initial sum is zero
then for every single number in that list, I take my old value for my sum and I ass on the current number <br> then I reassign that value to list sum
at the end of the for loop I print out list_sum (!!indentation - back to the start)
<br> we get only the last result

In [30]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

here the print statement is inside the for loop and I get back the running tally of the sum

## For loops with strings

In [33]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [34]:
# you don't necesarily assign a variable to the string:

In [35]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [37]:
# you don't even need to use the variable 'letter'
# common practice: use _

In [38]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

## Tuples

In [39]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

- if we're iterating through a sequence that contains itself tuples, the item can be used with tuple unpacking

In [40]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [41]:
len(mylist)

4

In [42]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [43]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [44]:
# works without paranthesis too
for a,b in mylist:
    print(a)

1
3
5
7

In [45]:
for a,b in mylist:
    print(b)

2
4
6
8

In [46]:
mylist = [(1,2,3),(4,5,6),(8,9,10)]

In [47]:
for item in mylist:
    print(item)

(1, 2, 3)
(4, 5, 6)
(8, 9, 10)

In [48]:
for a,b,c in mylist:
    print(a)
    print(b)
    print(c)

1
2
3
4
5
6
8
9
10

In [49]:
for a,b,c in mylist:
    print(b)

2
5
9

## Dictionaries

In [50]:
d = {'k1':1,'k2':2,'k3':3}

In [51]:
for item in d:
    print(item)

k1
k2
k3

- by default, when you're iterating through a dictionary, you're iterating through the keys
- if you want to iteratie through the items themselves, you need to call d.items => tuple pairs => tuple unpcking

In [52]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [54]:
for key, value in d.items():
    print(value)

1
2
3

In [55]:
# or you can call the values

In [57]:
for value in d.values():
    print(value)

1
2
3

# While Loops 
- will continue to execute a block of code while some condition remains True
     - for example, while my pool is nt full, keep filling my pool with water

In [58]:
# while some_boolean_condition:
    # do something

In [60]:
# while some_boolean_condition:
    # do something
# else:
    # do something different

In [61]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
    # you can also write: x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [62]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('X is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

## break, continue, pass
We can break, conntinue, nd pass statements in our loops to add additional functionality for various cases:
- break: breaks out of the current closest enclosing loop.
- continue: goes to the top of the closest enclosing loop.
- pass: does nothing at all.

In [63]:
x =  [1,2,3]

for item in x:
    #comment

SyntaxError: incomplete input (3441926488.py, line 4)

In [64]:
x =  [1,2,3]

for item in x:
    pass

print('End my script')
#pass used as a placeholder to avoid errors

End my script

In [65]:
mystring = 'Sammy'

In [66]:
for letter in mystring:
    print(letter)

S
a
m
m
y

In [67]:
# I don't want to print out the letter a

In [68]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [69]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [70]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [72]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

# Useful operators

## Range

In [1]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [2]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [3]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [4]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [6]:
range(0,11,2)

range(0, 11, 2)

In [7]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [8]:
# range it's a generator; if we want a list of numbers, we have to cat the range to a list

a generator is a type of function that will generate information instead of saving it all to memory

## Enumerate

In [10]:
index_count = 0

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}')
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [11]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [15]:

word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [16]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

## Zip
- the opposite on enumerate
- it zips together 2 lists

In [17]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']

In [18]:
zip(mylist1,mylist2)

In [19]:
# if we just zip it, we don't get back anything. It just says 'hey, you have this zip generator waiting for you at this 
#location in your memory

In [20]:
#we have to iterate through it:

In [21]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [22]:
mylist3 = [100, 200, 300]

In [23]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [24]:
# if lists uneven, we get back the same results;

In [25]:
# ZIP is only going to be able to go and zip together as far as the shortest list

In [26]:
mylist3 = [100,200,300,400,500]

In [27]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [30]:
for a,b,c in zip(mylist1, mylist2, mylist3):
    print(a)

1
2
3

In [31]:
for a,b,c in zip(mylist1, mylist2, mylist3):
    print(b)

a
b
c

In [32]:
for a,b,c in zip(mylist1, mylist2, mylist3):
    print(c)

100
200
300

In [28]:
# if you just want the list you can cast it:

In [29]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

## In
- we can use IN keyword to check if an object is in a list

In [33]:
'x' in [1,2,3]

False

In [34]:
'x' in ['x','y','z']

True

In [35]:
2 in [1,2,3]

True

In [36]:
'a'in 'a word'

True

In [37]:
# also works in dictionaries

In [38]:
'mykey' in {'mykey':345}

True

In [45]:
d= {'mykey':345}

345 in d.values()

True

In [46]:
d= {'mykey':345}

345 in d.keys()

False

## Mathematical functions

In [47]:
mylist = [10, 20, 30, 40, 100]

In [48]:
min(mylist)

10

In [49]:
max(mylist)

100

## Random library

In [50]:
from random import shuffle

In [51]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [52]:
shuffle(mylist)

In [53]:
mylist

[4, 9, 6, 3, 10, 1, 7, 5, 2, 8]

In [ ]:
#becaues it doesn't return anythig, it cannot be saved

In [61]:
random_list = shuffle(mylist)

In [63]:
random_list

In [64]:
type(random_list)

NoneType

In [54]:
# to grab a random integer:

In [55]:
from random import randint

In [56]:
randint(0,100)

72

In [57]:
randint(0,100)

1

In [58]:
# beacue the function returns something, it can be saved:

In [59]:
mynum = randint(0,100)

In [60]:
mynum

67

## Input
- to accept user input

In [65]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [66]:
result = input('Enter a number here: ')

Enter a number here: 50

In [67]:
result

'50'

In [69]:
name = input('What is your name?')

What is your name?Dannie

In [70]:
name

'Dannie'

In [71]:
 # input always accepts anything that's passed into as a string

In [72]:
result = input('Favourite Number:')

Favourite Number:33

In [73]:
result

'33'

In [74]:
type(result)

str

In [75]:
# transform it into another data type

In [76]:
float(result)

33.0

In [77]:
int(result)

33

# List Comprehensions
- are a unique way of quickly creating a list Python
- if you find yoursel using a for loop along with .append() to create a list, List Comprehensions are a good alternative!

In [78]:
mystring = 'hello'

In [79]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [80]:
mylist

['h', 'e', 'l', 'l', 'o']

In [81]:
mylist = [letter for letter in mystring]

In [82]:
mylist

['h', 'e', 'l', 'l', 'o']

In [83]:
mylist = [x for x in 'word']

In [84]:
mylist

['w', 'o', 'r', 'd']

In [85]:
# x is a temporary variable name that you can call whatever you want

In [88]:
mylist = [qweqwe for qweqwe in 'wordtwo']

In [89]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [90]:
mylist = [x for x in range(0,11)]

In [91]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
mylist = [num**2 for num in range(0,11)]

In [93]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [95]:
mylist = [num for num in range(0,11) if num%2==0]

In [96]:
mylist

[0, 2, 4, 6, 8, 10]

In [97]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [98]:
mylist

[0, 4, 16, 36, 64, 100]

In [99]:
celsius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius]

In [100]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [101]:
# the same as doing this:

In [103]:
fahrenheit = []

for temp in celsius:
    fahrenheit.append(((9/5)*temp + 32))

In [104]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [105]:
# sometimes writing in one liners is more difficult te read! use with caution:

In [106]:
#if else:

In [112]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [113]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

### You can also do nested loops in a list comprehension

In [ ]:
# the normal way:

In [116]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [117]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [118]:
## with list comprehension -- sacrificing readibility

In [119]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [120]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]